<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="shortcut icon" type="image/png" href="IMG_0269.png">
    <link rel="icon" href="/IMG_0269.png" type="image/png">
    <link rel="mask-icon" href="IMG_0269.png?v=M44lzPylqQ" 
 color="#000000">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
